[buildout]
parts = test 
develop = pydenji

[test]
recipe = zc.recipe.testrunner
eggs = pydenji
defaults = [ "--tests-pattern", "test_.*" ]

[nose]
recipe = tranchitella.recipe.nose
eggs = pydenji
defaults =
    --where pydenji
    --with-coverage
    --cover-package pydenji

[sdist]
recipe = zc.recipe.egg
eggs = pydenji
       setuptools_hg
